.cell {
    padding: 10px;
    width: 80px;
    height: 80px;
}

.button {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 3px solid black;
    outline: none;
}

.button:hover,
.button:focus {
    box-sizing: border-box;
    border: 4px solid purple;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}