.test {
    color: black;
}

table {
    background-color: lightpink;
    border-collapse: collapse;
}

.row {
    /* background-color: transparent; */
}

table {
    overflow: hidden;
  }
  
  td {
    position: relative;
  }
  td:hover::before {
    content: "";
    position: absolute;
    background-color: #ffa;
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -10000;
  }